@page
@model Staffmeer.Server.Pages.Reports.ReportsModel
@{
}

<ul>
    <li>
        <a class="smr-link text-color-main" asp-page="EmployeeNomenclatures/Select">Номертклатура, закреплённная за сотрудником</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Комплектующие устройства (номенклатуры)</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Журнал событий по номенклатуре</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Поставки контрагента</a>
    </li>
</ul>

<div class="form-group">
    <label class="control-label">Select</label>
    <select class="form-control"></select>
    <span class="text-danger"></span>
</div>