@page
@model Staffmeer.Server.Pages.Reports.ReportsModel
@{
    ViewData["Title"] = "Отчёты";
}

<h4>Отчёты</h4>
<hr/>
<ul>
    <li>
        <a class="smr-link text-color-main" asp-page="EmployeeNomenclatures/Select">Cписок техники, закрепленных за определенным пользователем</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="DeviceParts/Select">Cписок принадлежащих определённому устройству составных элементов (комплектующих, ПО), с  описанием события установки</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Cписок  о  планах профилактики, модернизации по датам</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Cписок  о гарантийных сроках запчастей, техники по датам</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Cписок заявок на обслуживание и ремонт от пользователей техники</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Cписок всей ВТ, находящейся на предприятии, с указанием мест размещения и хранения</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Cписок всей ВТ, находящейся на предприятии, с указанием конкретных пользователей, за которыми она закреплена</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Cписок зарегистрированных передач/назначений  (поступление, перемещение, списание) определённого устройства</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Cписок поставщиков вычислительной техники и комплектующих</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Cписок  техники, комплектующих от определенного поставщика</a>
    </li>
</ul>

<h4>Формы</h4>
<hr />
<ul>
    <li>
        <a class="smr-link text-color-main" asp-page="EmployeeNomenclatures/Select">
            Накладная на внутреннее перемещение объектов основных средств (ОС-2)
        </a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="EmployeeNomenclatures/Select">
            Требование-накладная (М-11)
        </a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="EmployeeNomenclatures/Select">
            Акт о списании товаров (ТОРГ-16)
        </a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="EmployeeNomenclatures/Select">
            Накладная на внутреннее перемещение, передачу товаров, тары (ТОРГ-13)
        </a>
    </li>
</ul>