@page
@model Staffmeer.Server.Pages.Reports.ReportsModel
@{
    ViewData["Title"] = "Отчёты";
}

<h4>Отчёты</h4>
<hr/>
<ul>
    <li>
        <a class="smr-link text-color-main" asp-page="EmployeeNomenclatures/Select">Номертклатура, закреплённная за сотрудником</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="DeviceParts/Select">Комплектующие устройства (номенклатуры)</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Журнал событий по номенклатуре</a>
    </li>
    <li>
        <a class="smr-link text-color-main" asp-page="">Поставки контрагента</a>
    </li>
</ul>

<h4>Формы</h4>
<hr />
<ul>
    <li>
        <a class="smr-link text-color-main" asp-page="EmployeeNomenclatures/Select">
            Накладная на внутреннее перемещение объектов основных средств
        </a>
    </li>
</ul>