@page
@model Staffmeer.Server.Pages.Nomenclatures.EditModel

@{
    ViewData["Title"] = Model.Nomenclature.Name;
}

<h1>
    <a class="smr-link return-nav-link" asp-page="./Details" asp-route-id="@Model.Nomenclature.Id"><span class="mdi mdi-arrow-left"></span></a> Редактирование
</h1>

<h4>Данные</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nomenclature.Id" />
            <div class="form-group">
                <label asp-for="Nomenclature.SerialNumber" class="control-label"></label>
                <input asp-for="Nomenclature.SerialNumber" class="form-control" />
                <span asp-validation-for="Nomenclature.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomenclature.Name" class="control-label"></label>
                <input asp-for="Nomenclature.Name" class="form-control" />
                <span asp-validation-for="Nomenclature.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomenclature.NomenclatureTypeId" class="control-label"></label>
                <select asp-for="Nomenclature.NomenclatureTypeId" class="form-control" asp-items="ViewBag.NomenclatureTypeId"></select>
                <span asp-validation-for="Nomenclature.NomenclatureTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomenclature.BrandnameId" class="control-label"></label>
                <select asp-for="Nomenclature.BrandnameId" class="form-control" asp-items="ViewBag.BrandnameId"></select>
                <span asp-validation-for="Nomenclature.BrandnameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomenclature.CounterpartyId" class="control-label"></label>
                <select asp-for="Nomenclature.CounterpartyId" class="form-control" asp-items="ViewBag.CounterpartyId"></select>
                <span asp-validation-for="Nomenclature.CounterpartyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomenclature.EmployeeId" class="control-label"></label>
                <select asp-for="Nomenclature.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="Nomenclature.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-outline-primary">
                    <span class="mdi mdi-content-save"></span>
                    Сохранить
                </button>
                <a class="btn btn-outline-primary" role="button" asp-page="./Delete" asp-route-id="@Model.Nomenclature.Id"><span class="mdi mdi-account-remove"></span> Удалить</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
