@page
@model Staffmeer.Server.Pages.Counterparties.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

@await Html.PartialAsync("_ViewNavHeader", new ViewNavHeaderModel(TextConstants.Delete, "Edit", Model.Counterparty.Id))

<h3>@TextConstants.DeleteConfirmMessage</h3>
<div>    
    <form method="post">
        <input type="hidden" asp-for="Counterparty.Id" />
        <button type="submit" class="btn btn-outline-danger">
            <span class="mdi mdi-delete"></span>
            Подтвердить удаление
        </button>
        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@Model.Counterparty.Id">
            <span class="mdi mdi-window-close"></span>
            Отмена
        </a>
    </form>
</div>
