@page
@model Staffmeer.Server.Pages.Employees.CreateModel

@{
    ViewData["Title"] = "Новый сотрудник";
}

<h1>
    <a class="smr-link return-nav-link" asp-page="Index"><span class="mdi mdi-arrow-left"></span></a> 
    Новый сотрудник
</h1>

<h4>Данные</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Patronymic" class="control-label"></label>
                <input asp-for="Employee.Patronymic" class="form-control" />
                <span asp-validation-for="Employee.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.DepartmentId" class="control-label"></label>
                <select asp-for="Employee.DepartmentId" class ="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-outline-primary">
                    <span class="mdi mdi-content-save"></span>
                    Сохранить
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
