@page
@using Staffmeer.Server.Pages.Shared
@model Staffmeer.Server.Pages.Employees.IndexModel

@{
    string title = "Сотрудники";
    ViewData["Title"] = title;
}

@await Html.PartialAsync("IndexHeader", new IndexHeaderModel { HeaderTitle = title })

@foreach (var group in Model.Employee.GroupBy(e => e.Department))
{
    <h4 class="mt-4">@group.Key.Name</h4>
    <ul class="list-group">
    @foreach (var item in group)
    {
        <li class="list-group-item">
            <span class="mdi mdi-account"></span> <a class="smr-link" asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.FullName)</a>
            <br />
            <small class="text-muted smr-employee-card__department">@Html.DisplayFor(modelItem => item.Department.Name)</small>
        </li>
    }
    </ul>
}