@page
@model Staffmeer.Server.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Сотрудники";
}
<h1>
    <a class="smr-link return-nav-link" asp-page="/Index"><span class="mdi mdi-arrow-left"></span></a> Сотрудники
</h1>

<p>
    <a class="btn btn-outline-primary" role="button" asp-page="Create">
        <span class="mdi mdi-account-plus"></span> Добавить
    </a>
</p>

<ul class="list-group">
@foreach (var item in Model.Employee)
{
    <li class="list-group-item">
        <span class="mdi mdi-account"></span> <a class="smr-link" asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.FullName)</a>
        <br />
        <small class="text-muted smr-employee-card__department">@Html.DisplayFor(modelItem => item.Department.Name)</small>
    </li>
}
</ul>