@model Staffmeer.Server.Pages.Shared.ViewNavHeaderModel

<h1>
    <a class="smr-link return-nav-link" asp-page="@Model.PreviousPage" asp-route-id="@Model.RouteId"><span class="mdi mdi-arrow-left"></span></a> @Model.Title
</h1>
