@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="smr-nav-menu-container">
    <div class="smr-nav-menu">
        <a class="smr-menu-item smr-nav-menu__orders" asp-area="" asp-page="/orders/index">
            <h2 class="smr-menu-item-title">Заявки</h2>
            <img style="width: 190px" src="~/icons/checklist_8446618.png" />
        </a>
        <a class="smr-menu-item smr-nav-menu__employees" asp-area="" asp-page="/employees/index">
            <h2 class="smr-menu-item-title">Сотрудники</h2>
            <img style="width: 185px; margin: -44px 0 0 94px;" src="~/icons/youth_3791146.png" />
        </a>
        <a class="smr-menu-item smr-nav-menu__departments" asp-area="" asp-page="/departments/index">
            <h2 class="smr-menu-item-title">Департаменты</h2>
            <img style="width: 126px; margin: -40px 0 13px 144px;" src="~/icons/organization-chart_2675008.png" />
        </a>
        <a class="smr-menu-item smr-nav-menu__events" asp-area="" asp-page="/provisionrecords/index">
            <h2 class="smr-menu-item-title">События</h2>
            <img style="width: 263px; margin: 148px 0 0px 4px;" src="~/icons/calendar_5739814(1).png" />
        </a>
        <a class="smr-menu-item smr-nav-menu__counterparties" asp-area="" asp-page="/counterparties/index">
            <h2 class="smr-menu-item-title">Контрагенты</h2>
            <img style="width: 133px; margin: -23px 0 0px 66px;" src="~/icons/handshake_1006555.png" />
        </a>
        <a class="smr-menu-item smr-nav-menu__nomenclature" asp-area="" asp-page="/nomenclatures/index">
            <h2 class="smr-menu-item-title">Номенклатура</h2>
            <img style="width: 186px; margin: 47px 0 0px 32px;" src="~/icons/multiscreen_4207275.png" />
        </a>
        <a class="smr-menu-item smr-nav-menu__other" asp-area="" asp-page="/reports/index">
            <h2 class="smr-menu-item-title">Формы. Отчёты</h2>
            <img style="width: 111px; margin: 0 0 0 70px;" src="~/icons/notebook_8446624.png" />
        </a>
    </div>
</div>