@page
@using Staffmeer.Server.Pages.Shared
@model Staffmeer.Server.Pages.Brandnames.CreateModel

@{
    ViewData["Title"] = TextConstants.Create;
}

@await Html.PartialAsync("_ViewNavHeader", new ViewNavHeaderModel(TextConstants.Create, "Index"))

<h4>Brandname</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brandname.Name" class="control-label"></label>
                <input asp-for="Brandname.Name" class="form-control" />
                <span asp-validation-for="Brandname.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
