@page
@model Staffmeer.Server.Pages.Brandnames.DetailsModel

@{
    ViewData["Title"] = "Бренд";
}

@await Html.PartialAsync("_ViewNavHeader", new ViewNavHeaderModel("Бренд", "Index"))

<div>
    <h4>Brandname</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brandname.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brandname.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Brandname.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
