@page
@model Staffmeer.Server.Pages.Departments.DeleteModel

@{
    ViewData["Title"] = Model.Departament.Name;
}

<h1>
    <a class="smr-link return-nav-link" asp-page="./Edit" asp-route-id="@Model.Departament.Id"><span class="mdi mdi-arrow-left"></span></a>
    Удаление
</h1>

<h3>Уверены, что хотите удалить запись?</h3>
<div>
    <h4>Данные</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departament.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departament.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Departament.Id" />
        <button type="submit" class="btn btn-outline-danger">
            <span class="mdi mdi-delete"></span>
            Подтвердить удаление
        </button>
        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@Model.Departament.Id">
            <span class="mdi mdi-window-close"></span>
            Отмена
        </a>
    </form>
</div>
