@page
@model Staffmeer.Server.Pages.Departments.DetailsModel

@{
    ViewData["Title"] = Model.Departament.Name;
}

<h1>
    <a class="smr-link return-nav-link" asp-page="./Index"><span class="mdi mdi-arrow-left"></span></a> Отдел
</h1>

<div>
    <h4>Данные</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departament.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departament.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" role="button" asp-page="./Edit" asp-route-id="@Model.Departament.Id"><span class="mdi mdi-pencil"></span> Редактировать</a>
</div>
