@page
@using Staffmeer.Server.Pages.Shared
@model Staffmeer.Server.Pages.Departments.IndexModel

@{
    string title = "Отделы";
    ViewData["Title"] = title;
}

@await Html.PartialAsync("IndexHeader", new IndexHeaderModel { HeaderTitle = title })

<ul class="list-group">
    @foreach (var item in Model.Departament)
    {
        <li class="list-group-item">
            <span class="mdi mdi-account-multiple"></span> <a class="smr-link" asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
        </li>
    }
</ul>